<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hotel.app.android.hotel0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ItuEDOgYenuqsoFZKz0xAOOp2D9Pt0td" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".ui.aty.HomeAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.aty.LoginAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.aty.RegisterAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.RetrieveAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.FlatLongDetailsAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.HotelDetailsAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.HotelSubmitOrderAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.LookHomeAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.OrderedHotelAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.HotelCloseAty"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.UserDetailsAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".ui.aty.FlatSmallDetailsAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.FlatLongSubmitOrderAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.OrderedFlatLongAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.agreement.FlatLongAgreementAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.CalendarAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.FlatServicingAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.FlatLongRenewPayMoneyAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.OrderedFlatSmallAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.aty.OrderedFlatSmallDetailsAty"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity android:name=".ui.aty.OrderedHotelDetailsAty" />
        <activity android:name=".ui.aty.FlatServiceAty"></activity>
    </application>

</manifest>