<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hotel.app.android.hotel0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.aty.HomeAty" />
        <activity android:name=".ui.aty.LoginAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.aty.RegisterAty" />
        <activity android:name=".ui.aty.RetrieveAty" />
        <activity android:name=".ui.aty.HomeDetailsAty" />
        <activity android:name=".ui.aty.HotelDetailsAty" />
        <activity android:name=".ui.aty.HotelSubmitOrderAty" />
        <activity android:name=".ui.aty.LookHomeAty"></activity>
    </application>

</manifest>